////////////////////////////////////////////////
//////Не встиг доробити адаптивність сайту//////

body{
    color: #383a3c;
   
}

//-----API---------------------------

.slider__fact{
    top: 5%;
    position: absolute;
    width: 20%;
    background-color: rgb(13, 13, 19);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    border: 4px solid;
    font-family: Roboto Slab;
    font-size: 15px;
    
}
.slider__defolt{
    color: #f2f7f7;
    margin: 0 auto;
    
}
.slider__query{
    padding: 3px;
    width: 100%;
    color: #333;
    background-color: rgb(235, 238, 240);
}
//-----API---------------------------

.progress{
    height: 15px;
    background-color: rgb(39, 36, 31);
}
.progressHidden{
    opacity: 0;
}

//-----lightTheme------------------

.btn-toggle{
    right: 0;
    position: absolute;
    text-align: center;
    font-family: Roboto Slab;
    font-size: 20px;
    margin: 0 auto;
    margin-top: 10px;
    margin-right: 40px;
    cursor: pointer;
}
.lightTheme{
    background-color: white !important;
    
}
.lightThemeColor{
    color: rgb(32, 32, 32) !important;
    a{
        color: rgb(32, 32, 32) !important;
    }
}
//----------------------------------------------------------------------
%container {
    max-width: 1920px;
    min-width: 768px;
    margin: 0 auto;
}
.header{
    background-color: #7abdbd;
    position: sticky;
    top:0;
    box-shadow: 0px 3px 5px grey;
    z-index: 9999;
    width: 100%;
    &__container{
        @extend%container
    }
}
.menu{
    max-height: 260px;
    &__list{
        display: flex;
        justify-content: space-around;
        align-items: center;
        
    }
    &__item{
        max-height: 67px; ;
    }
    &__link{
        color: white;
        font-family:bazar;
        font-size: 52px;
        &:hover{
            color:#317dca;
        }
    }
}
%line{
    border-bottom: 2px dashed #588b8b;
    left:0;
    position: absolute;
    width: 100%;
}
.menu__lineHeader {
        @extend %line;
        bottom: 23px;
        z-index: -50;
       
}
.lineTop {
    @extend %line;
    top: 23px;
    }
.lineBottom {
    @extend %line;
    bottom: 23px;
    }
//---------------------------------------------------------------------------
.slider{
    height: 1836px;
    width: 100%;
    background-color: #7abdbd;
    position: relative;
    &__container{
        @extend %container;
        padding-top: 102px;
    }
    &__head{
        color: #f9ebd9;
        display: flex;
        justify-content: center;
        font-family: Seaside Resort NF;
        font-size: 193px;
    }
    &__ribon{
        
        height: 135px;
        display: flex;
        justify-content: center;
        padding-top: 40px;
        margin: 0 auto;
        margin-top: 72px;
        background-image: url(../image/ribon.png);
        background-size: auto auto;
        background-size: contain;
        background-repeat: no-repeat;
        font-family: bazar;
        font-size: 40px;
    }
}
.banner{
    margin-top: 95px;
    height: 916px;
    width: 100%;
    background-color: #fbfaf6;
    margin: 0 auto;
    margin-top: 92px;
    padding: 17px 17px 0 17px;
    &__item{
        height: 800px;
        background-color: #e3dfd7;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__arrowLeft{
        background-image: url(../image/EllipseL.png);
        width: 50px;
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 15px;
        color:black;
    }
    &__imageContainer{
        justify-content: center;
        max-width: 500px;
        max-height: 800px;
        display: flex;
        width: 100%;
    }
    &__arrowRight{
        background-image: url(../image/EllipseR.png);
        width: 50px;
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 15px;
    }
    &__sign{
        color: gray;
        font-size: 50px;
        font-weight: bolder;
        font-family: bazar;
        &:hover{
            color:black;
            cursor: pointer;
        }
    }
    &__header{
        font-family: bazar;
        font-size: 42px;
        display: flex;
        justify-content: center;
        margin-top: 24px;
    }
}
.slider{
    &__innitation{
        display: flex;
        justify-content: center;
        margin-top: 64px;
        font-family: bazar;
        flex-direction: column;
        }
    &__firstRow{
            font-size: 62px;
            text-align: center;
        }
    &__secondRow{
        font-size: 51px;
        text-align: center;
        margin-top: 28px;
    }
}

//------about-----------------------------------------------------------------------------------

.about{
    width: 100%;
    background-color: #e2ddcd;
    position: relative;
    &__container{
        @extend%container;
        display: flex;
        flex-direction: column;
        padding-bottom: 80px;
    }
}
.about__content{
    margin-top: 20px;
}
.repeatHeader{
    text-align: center;
    padding-top: 100px;
    h2{
        font-family: bazar;
        font-size: 175px;
        color: #3a3a3a;
    }
    .separator{
        display: flex;
        justify-content: center;
        width: 100%;
        padding-top: 12px;
    }
    .cross{
        font-family: Roboto Slab;
        margin: 0 18px 0 18px;
        display: flex;
        color: #3a3a3a;
        font-size: 30px;

    }
    .lineBlock{
        margin-top: 15px;
        display: flex;
        background-color: #3a3a3a; ;
        width: 80px;
        height: 4px;
    }
    .introduce{
        font-size: 28px;
        font-family: Oswald;
        color: #3a3a3a;
        margin-top: 25px;
    }
}
.about{
    &__content{
        margin-top: 77px;
        display: flex;
        justify-content: space-between;
    }
}
.columns__movies,.columns__music,.columns__clothes,.columns__food{
    display: block;
    margin: 0 auto;
}
.columns{
    padding: 0 15px;
    &__header{
        text-align: center;;
        margin-top: 43px;
        font-family: bazar;
        font-size: 50px;
    }
    &__subHeader{
    
        margin-top: 38px;
        text-align: center;
        font-size: 20px;
        font-family: Roboto Slab;
        font-weight: normal;
    }
    &__text{
        font-size: 20px;
        font-family: Roboto Slab;
        margin-top: 34px;
        line-height: 33px;
    }
}

%divider{
    width: 80px;
    height: 6px;
    margin: 0 auto;
    margin-top: 33px;
    margin-bottom: 20px;
}
.dividerWhite{
    @extend %divider;
    background-color:white;
}
.dividerBlack{
    @extend %divider;
    background-color:black !important;
}



//-----portfolio--------------------------------------------------------------------------------

.portfolio{
    &__container{
    @extend%container;
    }
    width: 100%;
    position: relative;
    background-color: #e08766;
    padding-bottom: 20px;
}
.portfolio__filter{
    margin-top: 85px;
    display: flex;
}
.filter__promo{
    display: flex;
    align-items: center;
    font-family: Roboto Slab;
    margin-left: 16px;
    margin-right: 15px;
    font-size: 25px;
    width: 126px;
}
.filter__btn{
    align-items: center;
    display: flex;
    margin-right: 38px;
    height: 42px;
    position: relative;
    background-color: #fbfaf6;
    font-family: Roboto Slab;
    font-weight: bold;
    font-size: 19px;
    padding-right: 18px;
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
  }
.filter__btn::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
  }
.filter__btn:after {
    content: "";
    position: absolute;
    left: -20px;
    bottom: 0;
    width: 0;
    height: 0;
    border-right: 20px solid #fbfaf6;
    border-top: 21px solid transparent;
    border-bottom: 20px solid transparent;
}
.filter__circle{
    margin-right: 16px;
    width: 6px;
    height: 6px;
    background: #959ca3;
    border-radius: 50%
  }
  .portfolio__projects{
    margin-top: 34px;
    display: flex;
    flex-wrap: wrap;
    
  }
  .projects__item{
    margin-right: 35px;
    margin-bottom: 35px;
    width: 440px;
    height: 442px;
    background-color: #fbfaf6;
    padding: 8px 8px 40px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .projects__screen{
    width: 100%;
    height: 312px;
    img{
        width: 100%;
        height: 312px;
    }
  }
  .projects__foto{

  }
  .projects__circle{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 82px;
    height: 82px;
    border-radius: 50%;
    bottom: 60px;
    position: absolute;

  }
  .projects__logo{
    width: 45px;
    height: 42px;
    
  }
  .projects__name{
    font-size: 19px;
    font-family: Roboto Slab;
    font-weight: bold;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 30px;
  }
  .reset{
    margin-top: 17px;
    font-family: Oswald;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    display: block;
  }

  //-------MY BLOG-------------------------------------------------------------------------------

  .blog{
    &__container{
        @extend%container;
        padding-bottom: 20px;
    }
    position: relative;
    background-color: #dad7d4;
  }
  .blog__stories{
    
    overflow-x: auto;
    margin-top: 70px;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
  }
  //----Blog animation------
  .element-animation {
    opacity: 0;
    transform: translateX(50px);
  }
  .element-animation.element-show {
    transition: all 1.5s;
    transform: translateY(0%);
    opacity: 1;
  }
  //---Blog show------------------

  .element-appearance{
    display: none !important;
  }


  .stories{
    display: flex;
    margin-top: 63px;
  }
  #topStories{
    margin-top: 0;
  }
  .stories__screen{
    padding: 8px;
    background-color: white;
  }
  .stories__photo{
    display: block;
    width: 568px;
   
  }
.stories__content{
    margin-left: 34px;
    margin-top: 16px;
}
.content__header{
    font-family: Roboto Slab;
    font-weight: bold;
    font-size: 37px;
}
.content__info{
    margin-top: 27px;
    display: flex;
    justify-content: space-between;
    font-family:Oswald;
    font-weight: bold;
    font-size: 18px;

}
.content__descr{
    
}
#left{
    margin-left: 0;
    margin-top: 25px;
}
.content__text{
    margin-top: 34px;
    line-height: 34px;
    font-family: Roboto Slab;
    font-size: 23px;
}
//------contact---------------------------------------------------------------------------

.contact{
    &__container{
        @extend%container;
    }
    position: relative;
    background-color: #51555c;
    display: flex;  
}
.contact__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
h2,.separator,.introduce{
    color: #fbfaf6;
}

.contact__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 77px;
    width: 932px;

}
.inputBox{
    color: red;
    font-size: 18px;
    font-family: Roboto Slab;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 17px;
}
.inputColor{
input, textarea {
    background-color : #d1d1d1;  
  }
}
.contact__small{
    margin-bottom: 12px;
    height: 74px;
    border-radius: 4px;
    font-size: 23px;
    font-family: Roboto Slab;
    display: flex;
    padding-left: 13px;
    width: 100%;
    
}
textarea{
    height: 320px;
    font-size: 23px;
    font-family: Roboto Slab;
    padding-left: 13px;
    padding-top: 26px;
    margin-bottom: 17px;
    border-radius: 4px;
}
.contact__btn{
    font-size: 23px;
    font-family: Roboto Slab;
    font-weight: bold;
    width: 280px;
    height: 64px;
    border-radius: 4px;   
    cursor: pointer;
    }
//-------footer-------------------------------------------------------------------------------------

.footer{
    &__container{
        @extend%container;
    }
    position: relative;
    height: 488px;
    background-color: #4a4e55;
    padding-top: 78px;
}
h3{
    text-align: center;
    font-size: 50px;
    color: #f6edd8;
    font-family: bazar;
}

.footer__links{
    margin-top: 32px;
    display: flex;
    justify-content: center;
}
.footer__twitter{
    margin-right: 20px;
    width: 160px;
    height: 160px;
    background-image: url(../icons/twitter.png);
}
.footer__fb{
    margin-right: 20px;
    width: 160px;
    height: 160px;
    background-image: url(../icons/fb.png);
}
.footer__gplus{
    margin-right: 20px;
    width: 160px;
    height: 160px;
    background-image: url(../icons/gplus.png);
}
.footer__pinterest{
    margin-right: 20px;
    width: 160px;
    height: 160px;
    background-image: url(../icons/pinterest.png);
}
.footer__linkedin{
    width: 160px;
    height: 160px;
    background-image: url(../icons/linkedin.png);
}

.hidden{
    display: none;
}

//---------start animation------------------------------------------------------------
.spinner {
    margin: 300px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
  }
  
  .spinner > div {
    background-color: #333;
    height: 100%;
    width: 6px;
    display: inline-block;
    
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }
  
  .spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }
  
  .spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  .spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  
  .spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
  
  @-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
    20% { -webkit-transform: scaleY(1.0) }
  }
  
  @keyframes sk-stretchdelay {
    0%, 40%, 100% { 
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }  20% { 
      transform: scaleY(1.0);
      -webkit-transform: scaleY(1.0);
    }
  }//-------------------------------------------------------






  @media (max-width:1400px) {
    .menu__link{
        font-size: 25px;
    }
    .menu__logo{
        width: 90px;
    }
    .slider{
        height:840px;
    }
    .slider__container{
        padding-top: 24px;
    }
    .slider__head{
        font-size: 50px;
    }
    .slider__ribon{
        max-width: 800px;
        font-size: 30px;
        padding-top: 25px;
        margin-top:20px;
    }
    .btn-toggle{
        font-size: 10px;
        margin-top: 3px;
    }
    .progress{
        height: 5px;
    }
    .banner{
        height: 475px;
        margin-top: 10px;
    }
    .banner__item{
        height: 400px;
    }
    .banner__img{
        max-width: 600px;
    }
    .banner__header{
        font-size: 18px;
    }
    .slider__firstRow{
        font-size: 20px;
    }
    .slider__secondRow{
        font-size: 20px;
    }
    .slider__innitation{
        margin-top: 20px;
    }

    .repeatHeader{
        padding-top: 35px;
    }
    .repeatHeader h2{
        font-size: 70px;
        
    }
    .repeatHeader .introduce{
        font-size: 15px;
        margin-top: 10px;
    }
    .columns{
        padding-bottom: 20px;
    }
    .columns__movies, .columns__music, .columns__clothes, .columns__food{
        width: 125px;
    }
    .columns__header{
        font-size: 25px;
        margin-top: 15px;
    }
    .columns__subHeader{
        font-style: 20px;
        margin-top: 15px;
    }
    .dividerBlack{
        margin-top: 15px;
    }
    .columns__text{
        font-size: 12px;
        margin-top: 20px;
        line-height: 18px;
        .about{
            height: 100%;
        }
    }
    //------------------------------------------
    
    .projects__item{
        width: 300px;
        height: 312px;
    }
    .projects__screen img{
        height: 190px;
    }
    .reset{
        font-size: 14px;
    }
    //---------------------------------------------
    
    .stories__photo{
        width: 250px;
    }
    .stories__screen{
    
    }
    .stories{
        margin-top: 15px;
    }
    //----------------------------------------------------------------------
    .contact__form{
        width: 650px;
        margin-top: 25px;
    }
    .inputBox{
        font-size: 15px;
    }
    .contact__small{
        font-size: 15px;
        height: 40px;
    }
    textarea{
        font-size: 15px;
        height: 150px;
    
    }
    .contact__btn{
        font-size: 15px;
        width: 170px;
        height:35px;
    }
    }
//-------------------------------------------------------------
.blog__stories{
    margin-top: 10px;
}

//------------------------------------------------------------
.footer__twitter,.footer__fb,.footer__gplus,.footer__pinterest,.footer__linkedin{
    width: 80px;
    height: 80px;
    background-size: contain;
}
.footer{
    height: 280px;
    padding-top: 15px;
}
h3{
    font-size: 20px;
}
.menu__lineHeader{
    bottom: 10px;
}

.lineTop{
    top: 10px;
}
.lineBottom{
    bottom: 10px;
}
